canvas {
	background-color: white;
	border: 2px solid black;
}

table, td, th {
	align-content: center;
	border: 2px solid black;
	border-collapse: collapse;
	width: 500px;
	text-align: center;
	background-color: #CFCFCF;
}

#textoRanking {
	text-align: center;
	background-color: black;
	color: white;
	width: 350px;
}

#textoBarra{
	display: none;
	font-family: Verdana;
	border: none;
	background-color: #32CD32;
	color: white;
	padding: 5px 7px 5px 7px;
	text-align: center;
}

#barraProgresso {
	display: none;
	width: 100%;
	background-color: grey;
	margin: auto;
}

#barra {
	display: none;
	width: 0%;
	height: 30px;
	background-color: white;
	text-align: center;
	line-height: 30px;
	color: black;
}


#tipo {
	display: none;
}

#status {
	display: none;
}

#screen {
	display: none;
	background-image: url("imgs/bgs/secret_cow_lvl.jpg");
	background-size: cover;
}

#screen.error {
	background-image: url("imgs/bgs/error.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#form{
	width: 240px;
	background-color: #3377ff;
	border: 3px solid white;
	margin: auto;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

#caixaNome, #codigoFase {
	border-style: solid;
	width: 150px;
	height: 27px;
	margin: auto;
}

#textoNome{
	width: 150px;
	background-color: #1a75ff;
	border-style: solid;
	color: white;
	margin: auto;
}

#jogoStart{
	font-family: Verdana;
	border: none;
	background-color: #32CD32;
	color: white;
	padding: 5px 7px 5px 7px;
} 

