canvas {
	background-color: white;
	border: 2px solid black;
}

#status {
	display: none;
}

#screen {
	display: none;
	background-image: url("imgs/bgs/secret_cow_lvl.jpg");
	background-size: cover;
}

#form{
	width: 250px;
	background-color: #3377ff;
	border: 3px solid white;
	margin: 20px;
	padding: 5px 5px 5px 5px;
}

#caixaNome{
	border-style: solid;
	width: 150px;
	height: 27px;
}

#Restart{
	top: 15px;
	position: absolute;
}

#textoNome{
	width: 150px;
	background-color: #1a75ff;
	border-style: solid;
	color: white;
}

#jogoStart{
	font-family: Verdana;
	border: none;
	background-color: #32CD32;
	color: white;
	padding: 5px 7px 5px 7px;
} 

