html, body {
	height: 100%;
}


a:link, a:active, a:visited{
	text-decoration: none;
	color: white;
}

#Menu , #statusEmpregado, #barraStatus{
	background-color: #669999;
	text-align: center;
	font-size: 20px;
	color: white;
}

.Menu:hover {
	color: black;
}

#textoBarra{
	width: 100px;
	font-family: Verdana;
	border: none;
	background-color: #32CD32;
	color: white;
	padding: 5px 7px 5px 7px;
	text-align: center;
	margin: auto;
}

#barraProgresso, .progresso{
	margin-left: 18px;
	width: 0%;
	height: 30px;
	padding: 4px 7px 4px 7px;
	background-color: grey;
	color: white;
	text-align: center;
}

#barra , .barra{
	width: 50px;
	margin-left: 25px;
	height: 30px;
	background-color: white;
	text-align: center;
	line-height: 30px;
	color: black;
}

#CaixaLvlXP {
	background-color: #4682B4;
	width: 150px;
	text-align: center;
	margin: auto;
}

#tempoTotal{
	color: white;
}

/* PAGINA STATUS.HTML */

#barraStatus {
	text-align: center;
}

#dados {
}

/* PAGINA MISSOES.HTML */

#todasMissoes {
	font-size: 20px;
	text-align: center;
}

#Opcoes{
	margin: auto;
	background-color: #16c5b0;
	text-align: center;
	word-spacing: 80px;
	font-size: 18px;
}

.opcoes{
	color: white;
}

.item{
	font-family: Verdana;
	border: 5px;
	background-color: #a2ebe9;
	color: white;
	margin: auto;
}

.opcoes:hover, .item:hover {
	color: black;
	font-size: 20px;
}

#minerar, #forjar, #cacar {
	display: none;
	background-color: #6796a0;
	width: 150px;
	margin: auto;
}


#Materiais {
	background-color: #008B8B;
	color: white;
	text-align: center;
}

.materiais {
	word-spacing: 5px;
	margin-left: 10px;
	font-size: 18px;
}



/* PAGINA LOJA.HTML */

#titulo {

	text-align: center;
}

#itens {
	font-size: 20px;
	margin-left: 100px;
}

.btnCompra {
	text-align: center;
	font-size: 25px;
}

.compra {
	margin-left: 10px;
	margin-right: 10px;
}

#sell {
	display: none;
}

#buy {
	display: block;
}


/* PAGINA TRABALHADOR.HTML */

.Empregado {
	background-color: #6796a0;
	width: 150px;
	margin: auto;
	text-align: center;
}

#statusEmpregado {
	width: 100%;
	bottom: 0;
	position: absolute;
}
