/*body, html{
    background-image: url("img/404-12.jpg");
    background-size: cover;
        }
*/
#background {
    width:268px;
    height:197px;
}

#moldura {
    width: 311px;
    height: 448px;
}

#todos {
        width: 311px;
        height: 448px;
        position: relative;
        }

#dvnome {
        width:195px;
        height:20px;
        float: left;
        position: absolute;
        top: 20px;
        left: 20px;
        }
#dvid {
        width:10%;
        height:5%;
        float: letf;
        position: absolute;
        top: 20px;
        left: 267px;
       }

#dvfoto {
        width:268px;
        height:197px;
        float: left;
        position: absolute;
        top: 49px;
        left: 21px
        }
#dvdesc {
        width:266px;
        height:122px;
        float: left;
        position: absolute;
        top: 282px;
        left: 21px;
	overflow: auto;
        }

