#logo {
        float: left;
        height: auto;
        width: 180px;
        padding: 5px;
        /*margin: 1px 10px 10px 10px;*/
        position: relative;
}

body,html {
    background-image: url("img/teste.jpg");
    background-size:cover;
    color: red;
}

table, td, th {		
        align-content: center;			
	border: 2px solid black;		
	border-collapse: collapse;		
	width: 500px;		
 	text-align: center;		
 	background-color: #CFCFCF;		
 }

#todos {
        width: 100%;
        height: 100%;
        margin: 0%;
        position: relative;
        float: left;
}

#topo {
    width: 1000px;
    height: auto;
    margin: auto;
    text-align: center;
    /*border: 5px solid pink;*/
}

#centro {
    width: 1000px;
    height: 562px;
    top: 90px;
    left: 15%;
    position: absolute;
    /*margin: auto;*/
   /* border: 5px solid white;*/
    color: red;
}

#menu {

	        width: 185px;
        height: 635px;
        top: 5px;
        float: left;
        position: absolute;
        color: white;
        text-align: center;
        /*border: 5px solid white;*/
}

.botao {
        width: 110px;
        height: auto;
        color: white;
        text-align: center;
}

#li1{
        list-style-type: none;
}

#logom {
        /*float: center;*/
        width: 330;
        padding: 5px;
        position: relative;
}

#menum {
        width: 340px;
        height: 410px;
        top: 90px;
        position: absolute;
        text-align: center;
        color: red;
}

#li1m{
    list-style-type: none;
        /*float: center;*/
}

#publim {
        width: 185px;
        height: 165px;
        top: 470px;
        position: absolute;
        float: left;
        background-image: url("img/anuncio.jpg");
        background-size: cover;
}

#publir {
    width: 145px;
    height: 585px;
    /*border: 5px solid black;*/
    float: right;
    position: relative;
    background-image: url("img/anuncio.jpg");
    background-size: cover;

}

#noticia1 {
        width: 350px;
        height: 150px;
        /*border: 5px solid pink;*/
        position: relative;
        float: left;
        color: white;
        }
#mold {
    width: 311px;
    height: 550px;
        /*border: 5px solid yellow;*/
        left: 2px ;
        position: relative;
        float: left;
}
#noticia2 {
        width: 310px;
        height: 150px;
        /*border: 5px solid blue;*/
        position: absolute;
        float: right;
        color: white;
        left: 900px;
        top: 500px;
        }

#noticia3 {
        width: 350px;
        height: 150px;
        /*border: 5px solid blue;*/
        position: absolute;
        float: letf;
        color: red;
        top: 340px;
        }

#ranking {
        width: 310px;
        height: 350px;
        /*border: 5px solid red;*/
        position: absolute;
        float: right;
        color: white;
        left: 683px;
        }
