a:link, a:active, a:visited{
	text-decoration: none;
	color: white;
}

#Menu {
	background-color: #669999;
	text-align: center;
	font-size: 20px;
	color: white;
}

#home:hover {
	color: black;
}
#status:hover {
	color: black;
}
#missoes:hover {
	color: black;
}
#combate:hover {
	color: black;
}

#textoBarra{
	width: 100px;
	font-family: Verdana;
	border: none;
	background-color: #32CD32;
	color: white;
	padding: 5px 7px 5px 7px;
	text-align: center;
	margin: auto;
}

#barraProgresso {
	margin-left: 18px;
	width: 0%;
	height: 30px;
	padding: 4px 7px 4px 7px;
	background-color: grey;
	color: white;
	text-align: center;
}

#barra , #barraMissoes{
	width: 50px;
	margin-left: 25px;
	height: 30px;
	background-color: white;
	text-align: center;
	line-height: 30px;
	color: black;
}

#CaixaLvlXP {
	background-color: #4682B4;
	width: 150px;
	text-align: center;
	margin: auto;
}

#tempoTotal{
	color: white;
}

/* PAGINA STATUS.HTML */

#barraStatus {
	text-align: center;
}

#dados {
}

/* PAGINA MISSOES.HTML */

#todasMissoes {
	font-size: 20px;
	text-align: center;
}

.opcoes{
	width: 100px;
	color: white;
	background-color: #16c5b0;
	text-align: center;
}

.item{
	width: 100px;
	font-family: Verdana;
	border: none;
	background-color: #a2ebe9;
	color: white;
	margin: auto;
}

#minerar, #forjar, #cacar {
	display: none;
	background-color: #6796a0;
	width: 150px;
}
